# Environments
.venv/
venv/
env/

# Mac / VS Code
.DS_Store
.vscode/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Downloaded Data & Generated Datasets
*.zip
data/train/
data/valid/
*generated_qa_pairs.json

# Model Checkpoints & Logs (Hugging Face / TensorBoard)
runs/
*.log
homework/demo_train/
homework/vlm_model/
homework/clip_model/

# Ignore intermediate Trainer checkpoints
checkpoint-*/

# Ignore TensorBoard logging files
events.out.tfevents.*
tensorboard/